
body{
font-family:Arial;
margin:0;
background:#ebebeb;
}

header{
background:#ffe600;
padding:15px;
display:flex;
gap:20px;
align-items:center;
}

.logo{
font-size:22px;
font-weight:bold;
}

.search{
flex:1;
padding:10px;
}

.produtos{
display:grid;
grid-template-columns:repeat(auto-fill,220px);
gap:20px;
padding:30px;
justify-content:center;
}

.card{
background:white;
padding:10px;
border-radius:8px;
box-shadow:0 2px 6px rgba(0,0,0,0.2);
}

.card img{
width:100%;
border-radius:5px;
}

.preco{
color:#00a650;
font-weight:bold;
}
